@import "../../style/all.scss";
@import "../../style/responsive.scss";

.location {
  .dark-overlay {
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: -1;
      transition: background-color 0.3s;
    }
  }
  .dark-overlay-2::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
  }
  .subheader {
    background-image: url("http://androthemes.com/themes/react/slices/assets/img/subheader.jpg");
    background-size: cover;
    background-position: 50%;
    min-height: 500px;
    padding: 220px 0 40px;
    margin-bottom: 80px;
    .location-title {
      max-width: 1140px;
      margin: auto;
      text-align: center;
      h1 {
        font-size: 50px;
        line-height: 58px;
        font-weight: 700;
        color: #fff;
      }
    }
  }
  .container-location {
    max-width: 1140px;
    margin: auto;
    .location-item {
      position: relative;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      .row {
        display: flex;
        align-items: center;
        .row-left {
          img {
            margin-bottom: 15px;
            border-radius: 8px;
            max-width: 100%;
            width: 547px;
            height: auto;
            vertical-align: middle;
          }
        }
        .row-right {
          margin-left: 100px;
          .location-desc {
            text-align: center;
            h3 {
              font-size: 35px;
              line-height: 43px;
              margin-bottom: 15px;
              font-weight: 700;
              color: #1d2228;
            }
            p {
              font-family: var(--font-1);
              font-size: 15px;
              font-weight: 600;
              line-height: 18px;
              margin-bottom: 15px;
              color: #515151;
            }
            @include Responsive($WIDE_DEVICE) {
              text-align: left;
            }
          }
          .location-info {
            .row-info {
              display: inline-block;
              p {
                margin-bottom: 10px;
                font-family: var(--font-1);
                font-size: 15px;
                color: #515151;
              }
            }
            .row-contact {
              float: right;
              margin-left: 100px;
              p {
                font-family: var(--font-1);
                font-size: 15px;
                color: #515151;
              }
              a {
                font-family: var(--font-1);
                font-size: 15px;
                color: #ed4e53;
                text-decoration: none;
              }
            }
          }
          @include Responsive($WIDE_DEVICE) {
            margin-left: 0;
          }
        }
        @include Responsive($WIDE_DEVICE) {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
        }
      }
      &::before {
        content: "\f130";
        font-family: flaticon;
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 40px;
        height: 20px;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(0, 0, 0, 0.1);
        padding: 0 5px;
        background-color: #fff;
        transform: translateX(-50%);
      }
      &:last-child::before {
        display: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
